.textField {
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  /* background-color: green; */
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textField input {
  border: 1px solid #CFCFCF;
  outline: 1px solid #CFCFCF;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  /* border: 1px solid var(--border-color); */
  padding: 20px;
  font-size: var(--input-font-size);
  /* outline: none; */
}
.textField input:active, .textField input:focus{
    border: 1px solid #D87D4A;
    outline: 1px solid #D87D4A;
}
.textField label{
    font-size: var(--label-font-size);
}
.textField small{
    color: #CD2C2C;
}