.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--gray-1); */
  padding: 0.75rem 1rem;
  border-radius: 4px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 48px;
  user-select: none;
}

.button {
  border: none;
  /* background: none; */
  /* color: rgba(0, 0, 0, 0.25); */
  cursor: pointer;
  transition: color 0.2s ease;
}

/* .button:hover {
  color: var(--brown-1); 
} */

.value {
  flex: 1;
  text-align: center;
  font-weight: 600;
  /* color: #000; */
}
