@import "tailwindcss";

@theme {
  /* Colors */
  --color-brown-1: hsl(22 65% 57%);
  --color-brown-2: hsl(21 94% 75%);
  --color-black-1: hsl(0 0% 0%);
  --color-black-2: hsl(0 0% 6%);
  --color-white-1: hsl(0 0% 100%);
  --color-gray-1: hsl(0 0% 95%);
  --color-gray-2: hsl(0 0% 98%);
  --color-border: #CFCFCF;
  --color-error: #CD2C2C;
  
  /* Font sizes */
  --font-size-label: 12px;
  --font-size-input: 14px;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope Bold";
  src: url("./assets/fonts/static/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Manrope Regular';
  src: url("./assets/fonts/static/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Medium";
  src: url("./assets/fonts/static/Manrope-Medium.ttf") format("truetype");
}

@layer components {
  button.button1 {
    width: 160px;
    height: 48px;
    @apply bg-brown-1;
  }
  
  button.button1:hover {
    @apply bg-brown-2;
  }
  
  button.filledBrown2 {
    width: 160px;
    height: 48px;
    @apply bg-brown-2;
  }
  
  button.button2 {
    width: 160px;
    height: 48px;
    @apply border border-black-1 bg-white;
  }
  
  button.button2:hover {
    @apply border border-black-1 bg-black-1;
  }
}

/* === Global Typography === */
body {
  font-family: "Manrope Medium", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #111;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #000; */
  /* margin: 1.2em 0 0.6em; */
}

/* Individual heading styles */
h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}
small{
  font-size: 12px;
}
/* Overline */
.overline {
  font-family: "Manrope Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

/* Subtitle */
.subtitle {
  font-family: "Manrope Bold", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-black-1);
  font-family: "Manrope Regular", sans-serif;
  opacity: 0.4;
}